<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="MasterConnectionString" value="Data Source=YourDataSource;Initial Catalog=master;Integrated Security=True" />
  <add key="PathToScripts" value="yourpathtothisfolder\FSRulesLibrary\src\database_scripts" />
  <add key="DatabaseConnectionString" value="Data Source=YourDataSource;Initial Catalog=GenericDotNetRulesStore;Integrated Security=True" />
  </appSettings>
</configuration>