CREATE TABLE dbo.Role (
	RoleID int NOT NULL IDENTITY (1, 1),
	Title nvarchar(20) NOT NULL,
	Description nvarchar(50) NOT NULL,
	Visible bit NOT NULL DEFAULT 1 ,
	CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
	(
	 [RoleID]
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)  ON [PRIMARY]
GO
